<% content_for :title, "New food resource" %>

<h1>New food resource</h1>

<%= render "form", food_resource: @food_resource %>

<br>

<div>
  <%= link_to "Back to food resources", food_resources_path %>
</div>
